force-app/main/default/flows/Create_Contact_Weird.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Break_relationship_1</name>
        <label>Break relationship 1</label>
        <locationX>461</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Make_an_account</name>
        <label>Make an account</label>
        <locationX>776</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_an_account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>createAccountOrNot</name>
        <label>createAccountOrNot</label>
        <locationX>582</locationX>
        <locationY>229</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>doCreateAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>update_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>doCreateAccount</label>
        </rules>
    </decisions>
    <interviewLabel>Create Contact Weird {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact Weird</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_an_account</name>
        <label>Create an account</label>
        <locationX>926</locationX>
        <locationY>225</locationY>
        <inputReference>account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createContact</name>
        <label>createContact</label>
        <locationX>388</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>createAccountOrNot</targetReference>
        </connector>
        <inputReference>contact</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_account_added_in_create_contact</name>
        <label>Delete account added in create contact</label>
        <locationX>1013</locationX>
        <locationY>506</locationY>
        <inputReference>Get_Account_just_created</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_just_created</name>
        <label>Get Account just created</label>
        <locationX>86</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.MailingCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.MailingStreet</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.FirstName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>205</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingAddress</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.MailingAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Break_relationship_2</name>
        <label>Break relationship 2</label>
        <locationX>600</locationX>
        <locationY>662</locationY>
        <inputReference>Get_contact</inputReference>
    </recordUpdates>
    <screens>
        <name>Creating_a_Contact</name>
        <label>Creating a Contact</label>
        <locationX>177</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createContact</targetReference>
        </connector>
        <fields>
            <name>contactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>contact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>contact.LastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contact.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>contactAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>contact.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>contact.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>contact.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>contact.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>contact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contact.MailingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact.MailingCountry</assignToReference>
                <name>inputCountryOptions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact.MailingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact.MailingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact.MailingState</assignToReference>
                <name>inputProvinceOptions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact.MailingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact.MailingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>update_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to create a corresponding account?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Create an account.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Don&apos;t create an account.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Creating_a_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
