force-app/main/default/flows/Tracking_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_tracking_codes</name>
        <label>Add tracking codes</label>
        <locationX>141</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tracking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CodeGenerator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tracking_Code</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CodeGenerator</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Tracking Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracking Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Adds the tracking code to the recently created mail object.</description>
        <name>Add_Tracking_Code</name>
        <label>Add Tracking Code</label>
        <locationX>370</locationX>
        <locationY>390</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>88</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Add_tracking_codes</targetReference>
        </connector>
        <object>Mail__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
