force-app/main/default/flows/Update_Locations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>220</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>Vehicle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hello</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Location</name>
        <label>Update Location</label>
        <locationX>527</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>Vehicle.Current_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewLocations.Destination__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Vehicle</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Locations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Hello</name>
        <label>Hello</label>
        <locationX>470</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewLocations.Vehicle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Vehicle</name>
        <label>Update the Vehicle</label>
        <locationX>741</locationX>
        <locationY>326</locationY>
        <inputReference>Vehicle</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Hello</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
    <variables>
        <name>NewLocations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle_Schedule__c</objectType>
    </variables>
    <variables>
        <name>Vehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
